<div>
  <img src="<%= clientUrls.logo %>" alt="FindHomy Logo" />
  
  <h1>Welcome to FindHomy</h1>

  <p>Hello, <%= user.firstName %> and thank you for creating an account! Now you will be able to explore the listings our users all around the world have to offer! </p>

  <h4>You can start using our platform clicking one of the following links</h4>
  <ul>
    <li><a href="<%= clientUrls.profile %>">Visit your profile</a></li>
    <li><a href="<%= clientUrls.properties %>">Explore properties</a></li>
    <li><a href="<%= clientUrls.createProperty %>">Post your property</a></li>
  </ul>

  <it>Remember to respect our code of conduct while modifying your personal profile, and posting comments or property listings!</it>

  <emp>The FindHomy Team</emp>

</div>